.col-sm.centralizar{
  max-width: fit-content;
  margin-inline: auto;
}
.col-sm.fit{
  max-width: fit-content;
}

.saldoNegativo{
  color:#d93025;
}

.saldoPositivo{
  color:#188038;
}

div.container.home{
  margin-top:3em;
  max-width: 94%;
}

.prevent-select {
  user-select: none; /* Standard syntax */
}

.fit{
  width: fit-content;
}

select.form-select{
  box-shadow: none !important;
}

select.form-select:active, select.form-select:focus{
  border-color:#007bff;
}

table.planilha{
  --bs-table-border-color: rgba(0, 0, 0, 0.24);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.02);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.06);
}

.planilha thead{
  border-top-color:transparent;
  border-inline-color:transparent;
}