:root {
    --verdeLogin: rgb(55, 150, 56);
    --verdeLoginHover: rgb(52 137 52);
}

button.login{
    width: 100%;
    font-size: 1.4em;
    border-radius: 8px;
    background-color: var(--verdeLogin);
    color:white;
    border:none;
    padding-block: 0.4em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button.login:hover{
    background-color: var(--verdeLoginHover);
}