.col-sm.centralizar{
  max-width: fit-content;
  margin-inline: auto;
}
.col-sm.fit{
  max-width: fit-content;
}

div.container.home{
  margin-top:3em;
  max-width: 94%;
}

.prevent-select {
  user-select: none; /* Standard syntax */
}

.fit{
  width: fit-content;
}

select.form-select{
  box-shadow: none !important;
}

select.form-select:active, select.form-select:focus{
  border-color:#007bff;
}