input.form-control{
    box-shadow: none !important;
}
input.form-control:active, input.form-control:focus{
    border-color:#007bff;
    border-width: 2px;
}

.form-floating>label{
    color:#424242;
}